body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 7em;
}
.tick text {
  fill: #635F5D;
  font-size: .75em;
}
.marks path.land {
  fill: #B3DBA4;
  /* shores
  stroke: #0D7159;
  stroke-width: 1px;
  stroke-linejoin: round;
   */
}
.marks path.borders {
  fill: none;
  stroke: #0D7159;
  stroke-width: 1px;
}
.marks path.oceans {
  fill: #F1F9FF;
  stroke: none;
  stroke-width: 1px;
}
.marks path.latAndLongLines, .tick line {
  fill: none;
  stroke: #ECECEC;
  stroke-width: 1px;
}
.axis-label {
  font-size: 2.5em;
  fill: #635F5D;
}
